@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    font-family: 'Poppins', sans-serif;
  }

  .w-4\.5 {
    width: 1.125rem;
  }

  .max-w-search {
    max-width: 23.75rem;
  }

  .max-w-container {
    max-width: 48rem;
  }

  .max-w-image {
    max-width: 7rem;
  }
}